.Product {
  #name {
    text-align: center;
    height: 40px;
  }

  #price_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #price {
      display: flex;
      flex-direction: column;
      text-align: right;

      > div:first-of-type {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-weight: bold;
      }

      > div:last-of-type {
        font-size: .8em;
      }

      .sale {
        color: grey;
        font-size: .8em;
        font-weight: normal;
        text-decoration: line-through;
      }
    }

    button {
      height: 100%;
      padding: 0 10px;
      background-color: #FF9F1C;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}
